version: '3'

services:
  wordpress:
    image: wordpress:latest
    depends_on:
      - db
    restart: always
    volumes:
      - ./:/var/www/html
    # для создания другого образа необходимо изменить порт
    ports:
      - "8000:80"
    environment:
      WORDPRESS_DB_USER: munek
      WORDPRESS_DB_PASSWORD: munek_root
      WORDPRESS_DB_HOST: db:3306
    # делает доступным сайт в браузере по url localhost:
    networks:
      - wpsite
  # phpmyadmin
  phpmyadmin:
    depends_on:
      - db
    image: phpmyadmin/phpmyadmin
    restart: always
    ports:
      - "8080:80"
    environment:
      PMA_HOST: db
      MYSQL_USER: munek1
      MYSQL_ROOT_PASSWORD: root
    # делает доступным сайт в браузере по url localhost:
    networks:
      - wpsite
  # База данных
  db:
    image: mysql:5.7
    restart: always
    volumes:
      - db_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: wordpress
      MYSQL_USER: muham
      MYSQL_PASSWORD: muham_root
    # делает доступным сайт в браузере по url localhost:
    networks:
      - wpsite
networks:
  wpsite:
volumes:
  db_data:
